


.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.topRow {
    display: flex;
}


.topLeftPink {
    display: flex;
    height: 125px;
    width: 125px;
    background-color: hotpink;
}

.topMiddleBlue {
    display: flex;
    height: 125px;
    width: 125px;
    background-color: blue;
}

.topRightPink {
    display: flex;
    height: 125px;
    width: 125px;
    background-color: hotpink;
}

.middleRow {
    display: flex;
}

.middleLeftBlue {
    display: flex;
    height: 125px;
    width: 125px;
    background-color: blue;
}

.middleMiddle {
    display: flex;
    height: 125px;
    width: 125px;
    background-color: lightgrey;
}

.middleRightBlue {
    display: flex;
    height: 125px;
    width: 125px;
    background-color: blue;
}

.middleRightPink {
    display: flex;
    height: 125px;
    width: 125px;
    background-color: hotpink;
}

.bottomRow {
    display: flex;
}

.bottomLeft {
    display: flex;
    flex-direction: column;
}

.bottomLeftPink {
    display: flex;
    height: 125px;
    width: 125px;
    background-color: hotpink;
}

.bottomMiddleBlue {
    display: flex;
    height: 125px;
    width: 125px;
    background-color: blue;
}

.bottomRightPink {
    display: flex;
    height: 125px;
    width: 125px;
    background-color: hotpink;
}