
.container {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    position: relative;
}

.topRow {
    display: flex;
    align-content: space-around;
}


.firstPink {
    display: flex;
    height: 125px;
    width: 125px;
    background-color: hotpink;
}

.firstBlue {
    display: flex;
    height: 125px;
    width: 125px;
    background-color: blue;
}

.topRight {
    display: flex;
}

.secondPink {
    display: flex;
    height: 125px;
    width: 125px;
    background-color: hotpink;
}

.secondBlue {
    display: flex;
    height: 125px;
    width: 125px;
    background-color: blue;
}

.bottomRow {
    display: flex;
    justify-content: space-around;
    align-content: space-between;
}

.bottomLeft {
    display: flex;
    flex-direction: column;
}

.thirdPink {
    display: flex;
    height: 125px;
    width: 125px;
    background-color: hotpink;
}

.thirdBlue {
    display: flex;
    height: 125px;
    width: 125px;
    background-color: blue;
}

.bottomRight {
    display: flex;
}

.fourthBlue {
    display: flex;
    height: 125px;
    width: 125px;
    background-color: blue;
}

.fourthPink {
    display: flex;
    height: 125px;
    width: 125px;
    background-color: hotpink;
}